@charset "utf-8";
// bulma card variables
$card-color: #e8e8e8;
$card-background-color: #222326;
$card-header-color: #e8e8e8;
$card-header-shadow: 0 1px 2px rgba(#fff, 0.1);
$card-header-color: #4884c1;

$border-radius: 5px;
$background-grey: #404450;
$card-grey: #222326;

$button-background-color: $card-grey;
$button-border-color: $card-grey;
$button-hover-border-color: $card-grey;

// $button-active-border-color: $background-grey;

@import "~bulma/bulma";
